body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #c4b000;
  font-family: "Nunito", serif;
  overflow: hidden;
  font-size: 1.3rem;
}

h1 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  color: #651fff99;
  margin: 4px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 8px;
  font-size: 1rem;
}

p {
  color: #834bff;
  margin: 0;
}

a {
  color: #651fff;
  font-weight: bold;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

content {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-container {
  width: 100vw;
  height: 100vh;
  opacity: 0.125;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

button {
  background: none;
  border: none;
  color: #651fff;
  font-weight: bold;
  font-family: "Nunito", serif;
  font-size: 0.75rem;
  cursor: pointer;
  opacity: 0.7;
  padding: 0;
  margin-left: 10px;
  vertical-align: middle;
}

button:hover {
  opacity: 1;
}
